.title{
    text-align: center;
    background-image: url(../img/DSC_5191.JPG);
    background-position-x: center;
    background-position-y: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
    background-attachment: fixed;
}

.text-banner{
    position: absolute;
    top: 28%;
    left: 10%;
    color: #fff;
    text-align: left;
}

.imgMarca{
    display: block; /* Establecemos el display en block para que ocupe todo el ancho disponible */
    margin: 0 auto; /* Utilizamos margin: 0 auto para centrar el elemento horizontalmente */
    width: 50%; /* Establecemos el ancho de la imagen en 50% */
    height: 50%;
}